
*{
    box-sizing:border-box;
    margin: 0;
    font-family:'Helvertica Nue';
}
.center-box{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}
.main-title{
    margin-bottom: 20px;
}
.main-description{
    margin-top: 0;
}
.step-1{
    margin-bottom: 20px;
    margin-top: 20px;
}
.step1-description{
    margin-top: 20px;
    margin-bottom: 20px;
}
.step-3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.step3-description{
    margin-top: 20px;
    margin-bottom: 20px;
}
.step-4{
    margin-top: 20px;
    margin-bottom: 20px;
}
.step4-description{
    margin-top: 20px;
    margin-bottom: 20px;
}
ul li{
    margin-bottom: 10px;
}
ol li{
    margin-bottom: 10px;
}
.step-5{
    margin-top: 20px;
    margin-bottom: 
}
.step5-description{
    margin-top: 20px;
    margin-bottom: 20px;
}
.vertical-table{
    border-collapse: collapse;
    width: 100%;
}
.vertical-table tr{
    padding: 1px solid black;
    border-bottom: 1px solid lightgray;
}
.vertical-table td{
    padding: 8px;
}
.vertical-table:last-child{
    border-bottom: none;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 16px;
    color: rgb(112, 7, 63);
}
.background-color{
    background-color: bisque;
}
h3{
    color: brown;
    font-size: 26px;
}
h4{
    color: brown;
    font-size: 26px;
}
h5{
    color: brown;
    font-size: 26px;
}
td{
    color: brown;
}
img{
    width: 500px;
    height: 200px; 
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}
